.circle{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border: 2px solid black;
    position: relative;
}
.circle__dot{
    width:20px;
    height:20px;
    background:red;
    position:absolute;
    left:50%;
    top: 50%;
    border-radius:100%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}

